In [1]:
from pyspark import SparkContext
import numpy as np
import pandas as pd

# Data retrieving and preprocessing

## Gisette dataset

In [2]:
# read the file gisette_db/gisette-train.data
# and convert it to a pandas dataframe
gisette_data = pd.read_csv('gisette-db/gisette_train.data', sep=' ', header=None)
gisette_data

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,550,0,495,0,0,0,0,976,0,0,...,0,0,991,991,0,0,0,0,983,NaN
1,0,0,0,0,0,0,0,976,0,0,...,475,0,991,0,0,991,0,0,0,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,674,0,0,838,NaN
4,0,0,0,0,0,0,0,608,0,979,...,0,0,828,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,783,0,0,0,NaN
5996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,921,0,886,0,NaN
5997,0,0,0,0,0,758,0,0,0,522,...,901,0,0,0,0,980,0,0,0,NaN
5998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,690,0,0,0,0,0,NaN
5999,0,0,991,0,0,0,0,0,0,0,...,0,0,288,0,0,972,0,0,991,NaN

In [3]:
gisette_label = pd.read_csv('gisette-db/gisette_train.labels', sep=' ', header=None)

In [5]:
gisette_label

      0
0     1
1    -1
2     1
3     1
4     1
...  ..
5995 -1
5996  1
5997 -1
5998 -1
5999 -1

[6000 rows x 1 columns]

In [4]:
# replace Nan with 0
gisette_data = gisette_data.fillna(0)

## Optdigit dataset

In [6]:
# import optdigits-db/optdigits.tra
# and convert it to a pandas dataframe
optdigits_data = pd.read_csv('optdigits-db/optdigits.tra', sep=',', header=None)
optdigits_data

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,0,0,5,13,11,2,0,0,0,2,...,0,0,0,8,13,15,10,1,0,9
3819,0,0,0,1,12,1,0,0,0,0,...,0,0,0,0,4,9,0,0,0,4
3820,0,0,3,15,0,0,0,0,0,0,...,0,0,0,4,14,16,9,0,0,6
3821,0,0,6,16,2,0,0,0,0,0,...,0,0,0,5,16,16,16,5,0,6
3822,0,0,2,15,16,13,1,0,0,0,...,0,0,0,4,14,1,0,0,0,7

In [7]:
optdigits_label = optdigits_data[64]
optdigits_data = optdigits_data.drop(64, axis=1)
optdigits_label

0       0
1       0
2       7
3       4
4       6
       ..
3818    9
3819    4
3820    6
3821    6
3822    7
Name: 64, Length: 3823, dtype: int64