In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\pc\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\pc\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pyspark import SparkContext
sc=SparkContext(master='local[2]')

In [3]:
 #lanch UI
sc

In [5]:
#Create a spark session
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName("AdvancedTopicML").getOrCreate()

In [6]:
##import de KNN
from sklearn.neighbors import KNeighborsClassifier

In [9]:
# read the file gisette_db/gisette-train.data
# and convert it to a pandas dataframe
import numpy as np
import pandas as pd
gisette_data = pd.read_csv('C:/Users/pc/Desktop/UCA/AdvanceTopML/knn-big-data/gisette-db/gisette_train.data', sep=' ', header=None)
gisette_data

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,550,0,495,0,0,0,0,976,0,0,...,0,0,991,991,0,0,0,0,983,NaN
1,0,0,0,0,0,0,0,976,0,0,...,475,0,991,0,0,991,0,0,0,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,674,0,0,838,NaN
4,0,0,0,0,0,0,0,608,0,979,...,0,0,828,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,783,0,0,0,NaN
5996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,921,0,886,0,NaN
5997,0,0,0,0,0,758,0,0,0,522,...,901,0,0,0,0,980,0,0,0,NaN
5998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,690,0,0,0,0,0,NaN
5999,0,0,991,0,0,0,0,0,0,0,...,0,0,288,0,0,972,0,0,991,NaN

In [10]:
gisette_label = pd.read_csv('C:/Users/pc/Desktop/UCA/AdvanceTopML/knn-big-data/gisette-db/gisette_train.labels', sep=' ', header=None)
gisette_label

      0
0     1
1    -1
2     1
3     1
4     1
...  ..
5995 -1
5996  1
5997 -1
5998 -1
5999 -1

[6000 rows x 1 columns]

In [11]:
# replace Nan with 0
gisette_data = gisette_data.fillna(0)

In [13]:
from sklearn.model_selection import train_test_split
gisette_train_data, gisette_test_data, gisette_train_label, gisette_test_label = train_test_split(gisette_data, gisette_label, test_size=0.2, random_state=42)

In [38]:
from sklearn.cluster import SpectralClustering, KMeans
from sklearn.datasets import make_blobs

# Générer des données aléatoires
#X, y = make_blobs(n_samples=1000, centers=3, random_state=42)

# Appliquer SpectralClustering
##spectral_clustering = SpectralClustering(n_clusters=20, random_state=42)
#spectral_clustering.fit(gisette_train_data)

# Appliquer KMeans pour récupérer les centres des clusters
kmeans = KMeans(n_clusters=20, random_state=42)
kmeans.fit(gisette_train_data)

# Afficher les centres des clusters
print("Centres de cluster (SpectralClustering):")
print(kmeans.cluster_centers_)

C:\Users\pc\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Centres de cluster (SpectralClustering):
[[ 1.12490119e+02  1.96719368e+01  2.87770751e+02 ...  1.31260870e+02
   1.69011858e+01  0.00000000e+00]
 [ 8.42052402e+01  8.66375546e+00  1.89877729e+02 ...  1.28375546e+02
   6.17510917e+01  0.00000000e+00]
 [ 1.02078431e+02  2.52450980e+01  7.17264706e+02 ...  1.23039216e+02
   6.74205882e+02  0.00000000e+00]
 ...
 [ 1.11485714e+02  2.08040816e+01  1.28232653e+02 ...  1.10869388e+02
  -2.84217094e-14  0.00000000e+00]
 [ 9.20616740e+01  2.20704846e+00  2.93700441e+01 ...  1.07819383e+02
   4.37136564e+01  0.00000000e+00]
 [ 8.90497238e+01  1.34088398e+01  3.66475138e+02 ...  1.25790055e+02
   6.12276243e+02  0.00000000e+00]]

In [39]:
cluster_centers_gisette_data=kmeans.cluster_centers_
cluster_centers_gisette_data

array([[ 1.12490119e+02,  1.96719368e+01,  2.87770751e+02, ...,
         1.31260870e+02,  1.69011858e+01,  0.00000000e+00],
       [ 8.42052402e+01,  8.66375546e+00,  1.89877729e+02, ...,
         1.28375546e+02,  6.17510917e+01,  0.00000000e+00],
       [ 1.02078431e+02,  2.52450980e+01,  7.17264706e+02, ...,
         1.23039216e+02,  6.74205882e+02,  0.00000000e+00],
       ...,
       [ 1.11485714e+02,  2.08040816e+01,  1.28232653e+02, ...,
         1.10869388e+02, -2.84217094e-14,  0.00000000e+00],
       [ 9.20616740e+01,  2.20704846e+00,  2.93700441e+01, ...,
         1.07819383e+02,  4.37136564e+01,  0.00000000e+00],
       [ 8.90497238e+01,  1.34088398e+01,  3.66475138e+02, ...,
         1.25790055e+02,  6.12276243e+02,  0.00000000e+00]])

In [41]:
for i in range(len(gisette_data))
   for j in range(len(cluster_centers_gisette_data))
      dist = numpy.linalg.norm(cluster_centers_gisette_data[j]-gisette_data[i])

SyntaxError: invalid syntax (<ipython-input-41-46acaa95d48b>, line 1)

In [15]:
# import optdigits-db/optdigits.tra
# and convert it to a pandas dataframe
optdigits_data = pd.read_csv('C:/Users/pc/Desktop/UCA/AdvanceTopML/knn-big-data/optdigits-db/optdigits.tra', sep=',', header=None)
optdigits_data

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,0,0,5,13,11,2,0,0,0,2,...,0,0,0,8,13,15,10,1,0,9
3819,0,0,0,1,12,1,0,0,0,0,...,0,0,0,0,4,9,0,0,0,4
3820,0,0,3,15,0,0,0,0,0,0,...,0,0,0,4,14,16,9,0,0,6
3821,0,0,6,16,2,0,0,0,0,0,...,0,0,0,5,16,16,16,5,0,6
3822,0,0,2,15,16,13,1,0,0,0,...,0,0,0,4,14,1,0,0,0,7

In [16]:
optdigits_label = optdigits_data[64]
optdigits_data = optdigits_data.drop(64, axis=1)
optdigits_label

0       0
1       0
2       7
3       4
4       6
       ..
3818    9
3819    4
3820    6
3821    6
3822    7
Name: 64, Length: 3823, dtype: int64

In [17]:
optdigit_train_data, optdigit_test_data, optdigit_train_label, optdigit_test_label = train_test_split(optdigits_data, optdigits_label, test_size=0.2, random_state=42)

In [40]:
# Appliquer SpectralClustering
#spectral_clustering = SpectralClustering(n_clusters=3, random_state=42)
#spectral_clustering.fit(optdigit_train_data)

# Appliquer KMeans pour récupérer les centres des clusters
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(optdigit_train_data)

# Afficher les centres des clusters
print("Centres de cluster (SpectralClustering):")
print(kmeans.cluster_centers_)

C:\Users\pc\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Centres de cluster (SpectralClustering):
[[ 0.00000000e+00  2.36380425e-01  4.71652816e+00  1.10046168e+01
   1.25290859e+01  8.66112650e+00  3.01015697e+00  3.37026777e-01
   1.30104261e-18  1.26223453e+00  8.89935365e+00  1.18088643e+01
   1.11311173e+01  1.09556787e+01  4.64542936e+00  3.52723915e-01
   1.10803324e-02  1.89843029e+00  8.12834718e+00  7.38781163e+00
   8.34349030e+00  1.01477378e+01  3.20313943e+00  8.86426593e-02
   3.69344414e-03  2.33425669e+00  9.01939058e+00  1.10590951e+01
   1.22807018e+01  9.63157895e+00  2.60941828e+00  1.84672207e-03
   1.84672207e-03  1.71560480e+00  8.29085873e+00  1.27746999e+01
   1.33213296e+01  8.82456140e+00  2.18744229e+00  0.00000000e+00
   1.38504155e-02  7.16528163e-01  4.84949215e+00  9.77839335e+00
   1.23010157e+01  5.86888273e+00  4.59833795e-01  1.04083409e-17
   1.01569714e-02  3.86888273e-01  5.18836565e+00  1.08448753e+01
   1.07802401e+01  4.55401662e+00  2.91782087e-01  4.99600361e-16
   9.23361034e-04  2.39150508e-01  5.35087719e+00  1.07488458e+01
   7.80332410e+00  3.12834718e+00  4.08125577e-01  1.84672207e-03]
 [ 0.00000000e+00  2.70588235e-02  2.67882353e+00  1.03141176e+01
   1.03164706e+01  2.34941176e+00  9.64705882e-02  3.52941176e-03
   2.35294118e-03  6.00000000e-01  8.56823529e+00  1.29164706e+01
   9.49882353e+00  4.72941176e+00  4.87058824e-01  3.76470588e-02
   3.52941176e-03  2.01411765e+00  1.18011765e+01  8.26000000e+00
   2.39294118e+00  5.52588235e+00  2.06117647e+00  6.58823529e-02
   2.16840434e-19  3.45882353e+00  1.31411765e+01  5.33647059e+00
   1.75058824e+00  6.25647059e+00  3.89647059e+00  9.41176471e-03
   2.35294118e-03  4.96000000e+00  1.36435294e+01  6.92941176e+00
   6.67764706e+00  1.01211765e+01  4.59411765e+00  0.00000000e+00
   8.47058824e-02  4.04941176e+00  1.37905882e+01  8.04000000e+00
   6.87058824e+00  1.15576471e+01  6.30470588e+00  6.82352941e-02
   6.11764706e-02  1.21764706e+00  1.01835294e+01  1.05117647e+01
   9.83058824e+00  1.11482353e+01  5.34705882e+00  3.05882353e-01
   5.42101086e-20  4.11764706e-02  2.72823529e+00  1.05776471e+01
   1.37964706e+01  7.80000000e+00  2.11411765e+00  1.05882353e-01]
 [ 0.00000000e+00  5.58222222e-01  8.19111111e+00  1.35617778e+01
   1.11182222e+01  4.56977778e+00  6.47111111e-01  1.15555556e-02
   5.33333333e-03  3.56088889e+00  1.37066667e+01  1.08995556e+01
   1.10222222e+01  8.16444444e+00  9.58222222e-01  3.55555556e-03
   8.88888889e-04  3.70933333e+00  9.53422222e+00  5.17777778e+00
   9.45333333e+00  7.78844444e+00  8.53333333e-01  1.38777878e-17
   2.16840434e-19  1.62311111e+00  6.76622222e+00  1.00968889e+01
   1.27706667e+01  7.45511111e+00  1.01066667e+00 -2.60208521e-18
   2.16840434e-19  2.75555556e-01  2.89422222e+00  7.48800000e+00
   9.89600000e+00  8.93866667e+00  2.40177778e+00  0.00000000e+00
  -7.63278329e-17  2.38222222e-01  2.84355556e+00  4.05600000e+00
   4.46488889e+00  9.22311111e+00  4.46755556e+00  5.33333333e-03
   2.77555756e-17  1.00177778e+00  8.78844444e+00  8.46933333e+00
   8.82133333e+00  1.25937778e+01  5.94133333e+00  1.87555556e-01
   5.42101086e-20  4.88000000e-01  8.51377778e+00  1.40435556e+01
   1.33422222e+01  9.28622222e+00  3.73155556e+00  4.81777778e-01]]

In [ ]:
cluster_centers_optdigit_train_data=kmeans.cluster_centers_